<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LeFridge - Détails</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/assets/css/styles.css') }}"
        />
    </head>
    <body>
        <header>
            {% for meal in meals %}
            <h1>Recette de "{{ meal.strMeal }}"</h1>
            {% endfor %}
            <a href="/user/{{ id }}" class="back-link">← Retour à mon profil</a>
        </header>

        <div class="details-result">
            {% for meal in meals %}
            <div class="meal-card" id="{{ meal.idMeal }}">
                <img
                    src="{{ meal.strMealThumb }}/large"
                    alt="{{ meal.strMeal }}"
                />
                <p>{{ meal.strMeal }}</p>
            </div>
            <div class="recipe">
                {{ meal.strInstructions }}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
