<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LeFridge - User</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/assets/css/styles.css') }}"
        />
    </head>

    <body>
        <header>
            <nav class="navbar"">
                <ul class="nav-list">
                {% for elem in meals %}
                <li><a href="/user/{{id}}/{{elem}}">{{elem}}</a></li>
                {% endfor %}
                </ul>
            </nav>
        </header>
        Je suis l'utilisateur avec l'id {{ id }}
        
    </body>
    
</html>
